[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"

[packages]
Flask = "==1.1.2"
Flask-PyMongo = "==2.3.0"
pytz = "==2021.1"
Flask-Cors = "==3.0.9"
Flask-Restful = "==0.3.8"
flask-mongoengine = "==1.0.0"
werkzeug = "==1.0.1"
requests = "==2.24.0"
mock = "==2.0.0"
contexter = "==0.1.4"

[requires]
python_version = "3.7"